# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
hawaii_df = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
hawaii_df['date'] = pd.to_datetime(hawaii_df['date'])

In [4]:
# Set the date column as the DataFrame index
hawaii_date_df = hawaii_df.set_index('date')
hawaii_date_df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [5]:
# Drop the date column
hawaii_drop_df = hawaii_df.drop('date', 1)
hawaii_drop_df.head()

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [6]:
from scipy import stats
from scipy.stats import ttest_ind

In [7]:
# Filter data for desired months
hawaii_june_df = hawaii_df[hawaii_df['date'].dt.month == 6]
hawaii_dec_df = hawaii_df[hawaii_df['date'].dt.month == 12]

In [8]:
# Identify the average temperature for June
hawaii_june_avg = hawaii_june_df['tobs'].mean().round(2)
print(hawaii_june_avg)

74.94

In [9]:
# Identify the average temperature for December
hawaii_dec_avg = hawaii_dec_df['tobs'].mean().round(2)
print(hawaii_dec_avg)

71.04

In [10]:
# Create collections of temperature data
hawaii_june_temp = hawaii_june_df['tobs']
hawaii_dec_temp = hawaii_dec_df['tobs']

In [11]:
# Run paired t-test
ttest_ind(hawaii_june_temp, hawaii_dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The p value is close to 0. There is a rejection of the null hypothesis. There is evidence to support the alternative hypothesis. June and December have a strong similiarity.